<%- include("header")  -%>
    <div class="box" id ="heading">
    <h1><%=listTitle%></h1>
</div>
<div class="box">
        <% for(var i=0;i<newitems.length;i++) {%>
          <form action="/delete" method="POST">
          <div class="item">
              <input type="checkbox" name="checkbox" value="<%=newitems[i]._id%>" onChange="this.form.submit()">
            <p><%=newitems[i].name%></p> 
        </div>
        <input type="hidden" name="listName"  value="<%=listTitle%>">
      </form>
          <% }  %>
        </div>
    <form class="item" action="/"method="POST">
    <input type="text" name="listitem" id="" placeholder="New Item">
    <button type="submit" value="<%=listTitle%>" name="list">+</button>
</form>
<%- include("footer")  -%>
